body {
  font-family: "Palanquin", sans-serif;
  background-color: black;
  width: calc(100vw - 100px);
  margin: 0 auto;
}

/* HEADER */
header {
  height: 100px;
}
header img {
  height: 100%;
}

/* BANDEAU de SECTION */

.section {
  height: 220px;
  display: flex;
  flex-direction: column;
}
.section h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.section .images-band {
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.section img {
  height: 125px;
}
